{% extends "base.html" %}

{% load sekizai_tags staticfiles %}
{% load leaflet_tags %}

{% block extrahead %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script type="text/javascript">
    var notesMap = null;
    var markers = {};
    function notesmap_init(map, options) {
      var locations = [];
      var location = null;
      {% for note in notes %}
        {% if note.position %}
          location = {lon:{{ note.position.x }}, lat:{{ note.position.y }}};
          var marker = L.marker(location).addTo(map)
          .bindPopup('{{ note.text }}');
          locations.push(location);
          markers['{{ note.uuid }}'] = marker;
        {% endif %}
      {% endfor %}
      if (locations.length != 0) {
        map.fitBounds(locations);
        map.zoomOut(); // Because fitBounds does not fit well enough
      }
      notesMap = map;
    }
    function popupNote(noteUuid) {
      var marker = markers[noteUuid];
      marker.togglePopup();
    }
  </script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="pitch">
		<h2>{{ hike.name }}</h2>
	</div>
</div>
<div class="container">
	<p>{{ hike.date }}</p>
	<br>
	<p>Notes:</p>
	<br>
	<ul>
	{% for note in notes %}
		<li>{{ note.text }}
      {% if note.position %}
        <img src="{% static "leaflet/images/marker-icon.png" %}"
             onclick="popupNote('{{ note.uuid }}')"
            />
      {% endif %}
    </li>
	{% endfor %}
	</ul>
  {% leaflet_map "notesmap" callback="window.notesmap_init" %}
</div>
{% endblock %}
