{% extends "base.html" %}

{% load sekizai_tags staticfiles %}
{% load leaflet_tags %}

{% block extrahead %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script type="text/javascript">
    function notesmap_init(map, options) {
      var locations = [];
      var location = null;
      {% for note in notes %}
        {% if note.position %}
          location = [{{ note.position.x }}, {{ note.position.y }}];
          locations.push(location);
          L.marker(location).addTo(map)
          .bindPopup('{{ note.text }}')
          .openPopup();
        {% endif %}
      {% endfor %}
      if (locations.length != 0) {
        map.fitBounds(locations);
      }
    }
  </script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="pitch">
		<h2>{{ hike.name }}</h2>
	</div>
</div>
<div class="container">
	<p>{{ hike.date }}</p>
	<br>
	<p>Notes:</p>
	<br>
	<ul>
	{% for note in notes %}
		<li>{{ note.text }}</li>
	{% endfor %}
	</ul>
  {% leaflet_map "notesmap" callback="window.notesmap_init" %}
</div>
{% endblock %}
