{% extends "min_base.html" %}

{% load sekizai_tags staticfiles %}

{% block left-header %}
<h1><a href="/">Hikers Log</a></h1>
<p>Albums for all the yetis.</p>
{% endblock %}

{% block right-header %}
{% if user.is_authenticated %}
	<a href="{% url "my_hikes" %}">{% trans "My Hikes" %}</a>
	{% if user.is_staff %}
		<a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
	{% endif %}
{% endif %}
{% endblock %}

{% block messages %}
<div id="messages">
	{% for m in messages %}
		<p class="{{ m.tags }}">{{ m|safe }}</p>
	{% endfor %}
</div>
{% endblock %}

{% block footer %}
<div class="right"><a href="mailto:todo">CONTACT</a></div>
{% endblock %}
